navbar,
header,
footer {
display:block;

}


body {
line-height:1;
margin:0;
/*background:linear-gradient(45deg,#010758,#490d61);

*/
}



/* ########nav-bar*/
nav {
width:100%;
margin:0;

}


nav ul{
background-color:#eee;
margin:0;
padding:0;
overflow:hidden;

}
ul.topnav li{
list-style:none;
float:left;

}

ul.topnav li.topnav-right {
float:right;
}

ul.topnav li a {
text-decoration:none;
display:block;
min-height:16px;
padding:14px;
text-align:center;
text-transform:uppercase;
color:#666

}


.topnav li a:hover {
background-color:#0088ff;
color:white;

} 

ul.topnav li.dropdownIcon {
display:none;
}





.container {
padding-top:4%;
padding-bottom:4%;
width:100%;
margin:auto;

}



.row {
margin-left:30px;



}
.rogue h1{
color:#fff;
display:flex;
flex-wrap:wrap;
margin-top:0;
padding:0;
font-size:30px;

}


form h2 {
color:#fff;
line-height:30px;
font-size:15px;

}

.input-input {
width:300px;
height:30px;
min-width:100px;
display:flex;
align-items:center;
margin:0;
padding:5px;
font-size:20px;


}
button {
background-color:yellow;
border-radius:15px;
height:25px;
width:300px;
margin-top:10px;
font-size:20px;



}

.myhead {
text-align:center;
font-size:40px;


} 
.my-columns pr {
font-size:15px;

}

.first-column,.second-column,.third-column {

text-align:center;
margin:10px;
padding:5px;
box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px 0 rgba(0,0,0,.1);
}

button.learnmore {
background-color:#0069ff;
font-size:20px;
height:40px;
width:200px;
margin-left:30%;
color:#fff;
text-align:center;
font-weight:bold;
display:block;
border-radius:7px;
}


/* ########custom styles  */
#secrion-1-gradient {
background:#076DFF;
background:linear-gradient(#076DFF,#065a5ff);


}






/*###%%%mobile section */

@media screen and (max-width:600px){
  ul.topnav li:not(:nth-child(1)){
  display:none;


  }

ul.topnav li.dropdownIcon {
display:block;
float:right;
  }

 ul.topnav.responsive li.dropdownIcon {
position:absolute;
top: 0;
right: 0;

}

ul.topnav.responsive {
position:relative;


}
ul.topnav.responsive li {
display:inline;
float:none;


  }

ul.topnav.responsive li a{
display:block;
text-align:left;


  
}
